<md-toolbar layout="row" layout-align="center center">
  <md-button href="https://www.facebook.com/pages/Brillage-Nails-and-Make-up/313043765465645" target="_blank" class="md-fab" aria-label="Facebook">
    <md-icon md-svg-src="assets/icons/facebook3.svg"></md-icon>
  </md-button>
  <md-button href="#/" class="md-hue-1">Főoldal</md-button>
  <md-button href="#/bemutatkozas" class="md-hue-1">Bemutatkozás</md-button>
  <md-button href="#/korom" class="md-hue-1">Köröm</md-button>
  <md-button href="#/smink" class="md-hue-1">Smink</md-button>
  <md-button href="#/ujdonsag" class="md-hue-1">Újdonságok</md-button>
  <md-button href="#/arak" class="md-hue-1">Árak</md-button>
  <md-button href="#/kapcsolat" class="md-hue-1">Kapcsolat</md-button>
</md-toolbar>
